/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Messenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Messenger.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Messenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIController.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIController.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIController.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.Terminal.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.Terminal.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIControllerTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIControllerTerminal.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIControllerTerminal.o

/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Messenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Messenger.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Messenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIController.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIController.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIControllerTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIControllerTerminal.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.ilk
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.pdb
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.vc.pdb
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIController.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIControllerTerminal.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIAssistant.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIAssistant.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIBackend.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIBackendTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIBackendTerminal.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIAssistant.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIBackendTerminal.obj
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIAssistant.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIAssistant.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIBackend.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIBackend.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIBackendTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIBackendTerminal.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIAssistant.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIBackend.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIBackendTerminal.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIBackendEmulator.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Core.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/CoreEmulator.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Core.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Core.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_CoreEmulator.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_CoreEmulator.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIMessenger.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIMessenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIMessenger.o
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Core.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Core.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Core.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_CoreEmulator.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIMessenger.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIMessenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIMessenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/Core.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/main.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_Core.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_Core.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_CoreEmulator.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIAssistant.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIAssistant.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIBackend.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIMessenger.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/moc_UIMessenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/qrc_res.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/UIAssistant.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Release/release/UIMessenger.obj
/Deploy/d3dcompiler_47.dll
/Deploy/libEGL.dll
/Deploy/libGLESv2.dll
/Deploy/opengl32sw.dll
/Deploy/plagins/bearer/qgenericbearer.dll
/Deploy/plagins/bearer/qnativewifibearer.dll
/Deploy/plagins/iconengines/qsvgicon.dll
/Deploy/plagins/imageformats/qgif.dll
/Deploy/plagins/imageformats/qicns.dll
/Deploy/plagins/imageformats/qico.dll
/Deploy/plagins/imageformats/qjpeg.dll
/Deploy/plagins/imageformats/qsvg.dll
/Deploy/plagins/imageformats/qtga.dll
/Deploy/plagins/imageformats/qtiff.dll
/Deploy/plagins/imageformats/qwbmp.dll
/Deploy/plagins/imageformats/qwebp.dll
/Deploy/plagins/qmltooling/qmldbg_debugger.dll
/Deploy/plagins/qmltooling/qmldbg_inspector.dll
/Deploy/plagins/qmltooling/qmldbg_local.dll
/Deploy/plagins/qmltooling/qmldbg_messages.dll
/Deploy/plagins/qmltooling/qmldbg_native.dll
/Deploy/plagins/qmltooling/qmldbg_nativedebugger.dll
/Deploy/plagins/qmltooling/qmldbg_profiler.dll
/Deploy/plagins/qmltooling/qmldbg_quickprofiler.dll
/Deploy/plagins/qmltooling/qmldbg_server.dll
/Deploy/plagins/qmltooling/qmldbg_tcp.dll
/Deploy/plagins/scenegraph/qsgd3d12backend.dll
/Deploy/plagins/styles/qwindowsvistastyle.dll
/Deploy/platforms/qwindows.dll
/Deploy/Qt53DAnimation.dll
/Deploy/Qt53DCore.dll
/Deploy/Qt53DExtras.dll
/Deploy/Qt53DInput.dll
/Deploy/Qt53DLogic.dll
/Deploy/Qt53DQuick.dll
/Deploy/Qt53DQuickAnimation.dll
/Deploy/Qt53DQuickExtras.dll
/Deploy/Qt53DQuickInput.dll
/Deploy/Qt53DQuickRender.dll
/Deploy/Qt53DQuickScene2D.dll
/Deploy/Qt53DRender.dll
/Deploy/Qt5Bluetooth.dll
/Deploy/Qt5Charts.dll
/Deploy/Qt5Concurrent.dll
/Deploy/Qt5Core.dll
/Deploy/Qt5DataVisualization.dll
/Deploy/Qt5DBus.dll
/Deploy/Qt5Designer.dll
/Deploy/Qt5DesignerComponents.dll
/Deploy/Qt5Gamepad.dll
/Deploy/Qt5Gui.dll
/Deploy/Qt5Help.dll
/Deploy/Qt5Location.dll
/Deploy/Qt5Multimedia.dll
/Deploy/Qt5MultimediaQuick.dll
/Deploy/Qt5MultimediaWidgets.dll
/Deploy/Qt5Network.dll
/Deploy/Qt5Nfc.dll
/Deploy/Qt5OpenGL.dll
/Deploy/Qt5Positioning.dll
/Deploy/Qt5PrintSupport.dll
/Deploy/Qt5Qml.dll
/Deploy/Qt5Quick.dll
/Deploy/Qt5QuickControls2.dll
/Deploy/Qt5QuickParticles.dll
/Deploy/Qt5QuickTemplates2.dll
/Deploy/Qt5QuickTest.dll
/Deploy/Qt5QuickWidgets.dll
/Deploy/Qt5Scxml.dll
/Deploy/Qt5Sensors.dll
/Deploy/Qt5SerialBus.dll
/Deploy/Qt5SerialPort.dll
/Deploy/Qt5Sql.dll
/Deploy/Qt5Svg.dll
/Deploy/Qt5Test.dll
/Deploy/Qt5TextToSpeech.dll
/Deploy/Qt5WebChannel.dll
/Deploy/Qt5WebSockets.dll
/Deploy/Qt5WebView.dll
/Deploy/Qt5Widgets.dll
/Deploy/Qt5WinExtras.dll
/Deploy/Qt5Xml.dll
/Deploy/Qt5XmlPatterns.dll
/Deploy/Terminal.exe
/Innotrans.7z.exe
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/UILogic.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/UIMessenger.obj
/Deploy/D3Dcompiler_47.dll
/Deploy/libEGL.dll
/Deploy/libGLESv2.dll
/Deploy/opengl32sw.dll
/Deploy/platforms/qwindows.dll
/Deploy/plugins/bearer/qgenericbearer.dll
/Deploy/plugins/iconengines/qsvgicon.dll
/Deploy/plugins/imageformats/qgif.dll
/Deploy/plugins/imageformats/qicns.dll
/Deploy/plugins/imageformats/qico.dll
/Deploy/plugins/imageformats/qjpeg.dll
/Deploy/plugins/imageformats/qsvg.dll
/Deploy/plugins/imageformats/qtga.dll
/Deploy/plugins/imageformats/qtiff.dll
/Deploy/plugins/imageformats/qwbmp.dll
/Deploy/plugins/imageformats/qwebp.dll
/Deploy/plugins/qmltooling/qmldbg_debugger.dll
/Deploy/plugins/qmltooling/qmldbg_inspector.dll
/Deploy/plugins/qmltooling/qmldbg_local.dll
/Deploy/plugins/qmltooling/qmldbg_messages.dll
/Deploy/plugins/qmltooling/qmldbg_native.dll
/Deploy/plugins/qmltooling/qmldbg_nativedebugger.dll
/Deploy/plugins/qmltooling/qmldbg_profiler.dll
/Deploy/plugins/qmltooling/qmldbg_quickprofiler.dll
/Deploy/plugins/qmltooling/qmldbg_server.dll
/Deploy/plugins/qmltooling/qmldbg_tcp.dll
/Deploy/plugins/scenegraph/qsgd3d12backend.dll
/Deploy/plugins/styles/qwindowsvistastyle.dll
/Deploy/Qt53DAnimation.dll
/Deploy/Qt53DCore.dll
/Deploy/Qt53DExtras.dll
/Deploy/Qt53DInput.dll
/Deploy/Qt53DLogic.dll
/Deploy/Qt53DQuick.dll
/Deploy/Qt53DQuickAnimation.dll
/Deploy/Qt53DQuickd.dll
/Deploy/Qt53DQuickExtras.dll
/Deploy/Qt53DQuickInput.dll
/Deploy/Qt53DQuickRender.dll
/Deploy/Qt53DQuickScene2D.dll
/Deploy/Qt53DRender.dll
/Deploy/Qt5Bluetooth.dll
/Deploy/Qt5Concurrent.dll
/Deploy/Qt5Core.dll
/Deploy/Qt5DBus.dll
/Deploy/Qt5Designer.dll
/Deploy/Qt5DesignerComponents.dll
/Deploy/Qt5Gamepad.dll
/Deploy/Qt5Gui.dll
/Deploy/Qt5Help.dll
/Deploy/Qt5Location.dll
/Deploy/Qt5Multimedia.dll
/Deploy/Qt5MultimediaQuick.dll
/Deploy/Qt5MultimediaWidgets.dll
/Deploy/Qt5Network.dll
/Deploy/Qt5Nfc.dll
/Deploy/Qt5OpenGL.dll
/Deploy/Qt5Positioning.dll
/Deploy/Qt5PrintSupport.dll
/Deploy/Qt5Qml.dll
/Deploy/Qt5Quick.dll
/Deploy/Qt5QuickControls2.dll
/Deploy/Qt5QuickParticles.dll
/Deploy/Qt5QuickTemplates2.dll
/Deploy/Qt5QuickTest.dll
/Deploy/Qt5QuickWidgets.dll
/Deploy/Qt5Scxml.dll
/Deploy/Qt5Sensors.dll
/Deploy/Qt5SerialBus.dll
/Deploy/Qt5SerialPort.dll
/Deploy/Qt5Sql.dll
/Deploy/Qt5Svg.dll
/Deploy/Qt5Test.dll
/Deploy/Qt5TextToSpeech.dll
/Deploy/Qt5WebChannel.dll
/Deploy/Qt5WebSockets.dll
/Deploy/Qt5WebView.dll
/Deploy/Qt5Widgets.dll
/Deploy/Qt5WinExtras.dll
/Deploy/Qt5Xml.dll
/Deploy/Qt5XmlPatterns.dll
/Deploy/Terminal.exe
/Innotrans.exe
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/object_script.Terminal.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/object_script.Terminal.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/bearer/qgenericbearer.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Core.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/CoreEmulator.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/D3Dcompiler_47.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/iconengines/qsvgicon.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qgif.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qicns.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qico.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qjpeg.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qsvg.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qtga.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qtiff.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qwbmp.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/imageformats/qwebp.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/libEGL.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/libGLESV2.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/main.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_Core.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_Core.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_CoreEmulator.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_CoreEmulator.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIAssistant.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIAssistant.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIBackend.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIBackend.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIMessenger.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/moc_UIMessenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/opengl32sw.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/platforms/qwindows.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_debugger.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_inspector.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_local.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_messages.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_native.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_nativedebugger.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_profiler.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_quickprofiler.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_server.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qmltooling/qmldbg_tcp.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/qrc_res.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Core.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Gui.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Network.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Qml.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Quick.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Svg.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Qt5Widgets.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/scenegraph/qsgd3d12backend.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/styles/qwindowsvistastyle.dll
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_ar.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_bg.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_ca.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_cs.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_da.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_de.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_en.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_es.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_fi.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_fr.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_gd.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_he.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_hu.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_it.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_ja.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_ko.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_lv.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_pl.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_ru.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_sk.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/translations/qt_uk.qm
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/UIAssistant.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/UIBackend.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Release/release/UIMessenger.o
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/Makefile
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/Core.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/Linguist.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/main.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_Core.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_Core.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_CoreEmulator.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_CoreEmulator.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_Linguist.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIAssistant.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIAssistant.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIBackend.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIBackend.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UILogic.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIMessenger.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/moc_UIMessenger.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/qrc_res.obj
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_1_MSVC2015_64bit-Release/release/UIAssistant.obj
