/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
