/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_qml.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Messenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Linguist.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Messenger.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_Messenger.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_res.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UILogic.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIController.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIController.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIController.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.Terminal.Debug
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.Terminal.Release
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIControllerTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_UIControllerTerminal.o
/build-Terminal-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/UIControllerTerminal.o

/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/.qmake.stash
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/main.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Messenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Linguist.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Linguist.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Messenger.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_Messenger.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_predefs.h
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIController.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIController.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIControllerTerminal.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UIControllerTerminal.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UILogic.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/moc_UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.cpp
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/qrc_res.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.exe
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.ilk
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.pdb
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/Terminal.vc.pdb
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIController.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UIControllerTerminal.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/debug/UILogic.obj
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Debug
/build-Terminal-Desktop_Qt_5_10_0_MSVC2015_64bit-Debug/Makefile.Release
